@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/* animation to fade page elements in on page load */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  /* supress browser defaults and select alt box model */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif, Tahoma;
  /* set variables for colors */
  --bg-primary: #111111;
  --bg-secondary: #7356b0;
  --font-color-primary: #f4f4f9;
  --font-color-secondary: #9ba4e7;
  --backup-color: #6d5eb8;

  animation: 1s ease-out 0s 1 fadeIn;
}

body {
  height: 100vh;
  background: var(--bg-primary);
}

/* style the header / navbar */
header {
  /* setting flex for the nav bar items */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px; /*might need change based on screen used to develop*/
  padding: 0 50px;
}

/* nav bar item logo */
header h2 {
  color: var(--font-color-primary);
  font-size: 30px;
  font-weight: 700;
  flex-basis: 4;
}

header .right-side-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header .navigation ul {
  /* flex to have items aligned in a row */
  display: flex;
  margin-right: 10px;
}

header .navigation ul li {
  list-style: none;
}

header .navigation ul li a {
  text-decoration: none;
  color: var(--font-color-secondary);
  font-size: 20px;
  margin-right: 25px;

  /* code to do a linear color transition */
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--font-color-primary),
    var(--font-color-primary) 50%,
    var(--font-color-secondary) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.3s ease;
}

/* linear color transition */
header .navigation ul li:hover a {
  background-position: 0 100%;
}

header .navigation ul li:last-child a {
  margin-right: 0;
}

/* divider between nav bar and button */
header p {
  color: var(--font-color-primary);
  font-size: 25px;
  font-weight: 700;
  margin-right: 10px;
}

/* header bar button and footer button */
.contact {
  background: var(--backup-color);
  padding: 6px 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px;

  /* code to do a linear color transition */
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--font-color-secondary),
    var(--font-color-secondary) 50%,
    var(--backup-color) 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.3s ease;
}

/* header bar button hover transition*/
.contact:hover {
  background-position: 0 100%;
  color: var(--bg-primary);
}

.contact a {
  color: var(--font-color-primary);
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* header bar button hover transition for the button text*/
.contact:hover a {
  color: var(--bg-primary);
}

/* styling for hero section (first page) */

.hero {
  height: 500px;
  margin-top: 200px;
}

/* setting the hero section into two columns. one for text the other for an image */
.hero-columns {
  display: flex;
  justify-content: space-evenly;
}

.hero-columns .hero-right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-columns .hero-right-column h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--font-color-primary);
  margin-bottom: 35px;
}

/* color added to span to create altering colors inline */
.hero-columns .hero-right-column h1 span {
  color: var(--font-color-secondary);
  text-decoration: underline;
}

.hero-columns .hero-right-column blockquote {
  /* indent added for quote */
  padding-right: 20px;
  font-size: 24px;
  font-weight: 400;
  color: var(--font-color-primary);
  margin-left: 30px;
  margin-bottom: 35px;
}

.hero-columns .hero-left-column img {
  width: auto;
  max-width: 600px;
  object-fit: contain;
}

/* styles all resume buttons */
.resume {
  background: transparent;
  border: 1px solid var(--font-color-secondary);
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 2px;
  width: 200px;
  margin-bottom: 30px;

  /* code to do a linear color transition */
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--bg-secondary),
    var(--bg-secondary) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.3s ease;
}

/* transition for button */
.resume:hover {
  background-position: 0 100%;
  border-color: var(--bg-secondary);
}

.resume a {
  text-decoration: none;
  font-size: 24px;
  color: var(--font-color-secondary);
  transition: all 0.3s ease;
}

/* transition for text on button */
.hero-columns .hero-right-column .resume:hover a {
  color: var(--bg-primary);
}

.hero-columns .hero-left-column {
  width: 30%;
}

/* styling for overview section (first page) */

.section-title {
  margin: 50px 100px;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.08);
  display: inline-block;
  color: var(--font-color-secondary);
  border-radius: 2px;
  font-size: 30px;
}

.overview {
  padding: 0 100px;
  display: flex;
  gap: 80px;
  margin-bottom: 100px;
}

.overview .overview-right img {
  height: 500px;
}

.overview .overview-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overview .overview-left h4 {
  color: var(--font-color-primary);
  font-size: 22px;
}

.progress-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}

.progress {
  width: 100%;
  max-width: 500px;
  background: white;
  border-radius: 2px;
  height: 15px;
}

.progress .progress-fill {
  height: 100%;
  width: 80%;
  background: var(--font-color-secondary);
}

.progress-wrap h5 {
  color: var(--backup-color);
  visibility: hidden;
  font-size: 40px;
  transition: all 0.3s ease;
}

/* reveals % amount on hover */
.progress-wrap:hover h5 {
  visibility: visible;
}

.overview .overview-left a {
  color: var(--font-color-secondary);
  font-size: 30px;
  text-decoration: none;
  transition: padding 0.3s ease;
  display: inline;
}

/* slightly moves text on hover */
.overview .overview-left a:hover {
  padding-left: 50px;
}

/* resume page */

/* resume page overview */
.resume-overview {
  display: flex;
  justify-content: space-between;
  padding: 100px 50px;
}

.resume-overview .resume-info-left h1 {
  color: var(--backup-color);
  margin-bottom: 30px;
}

.resume-overview .resume-info-left h2 {
  color: var(--font-color-secondary);
  margin-bottom: 30px;
}

.resume-overview .resume-info-left h3 {
  color: var(--font-color-secondary);
  margin-bottom: 30px;
}

.resume-overview .resume-info-left p {
  color: var(--font-color-primary);
  margin-bottom: 30px;
}

.resume-overview .resume-info-left i {
  color: var(--backup-color);
  font-size: 40px;
}

/* resume page jobs */
.resume-overview .resume-info-right h2 {
  color: var(--backup-color);
  margin-bottom: 30px;
}

.resume-overview .resume-info-right h3 {
  color: var(--font-color-secondary);
  margin-bottom: 30px;
}

/* styles left and right side bullets */
.resume-overview ul li {
  padding-left: 50px;
  list-style: none;
  color: var(--font-color-primary);
  margin-bottom: 30px;
}

/* resume page education */
.resume-overview .resume-info-right table {
  align-items: center;
}

.resume-overview .resume-info-right table th,
.resume-overview .resume-info-right table td {
  padding: 15px;
  text-align: left;
  color: var(--font-color-secondary);
  font-size: 18px;
  transition: all 0.3s ease;
}

.resume-overview .resume-info-right table th:hover,
.resume-overview .resume-info-right table td:hover {
  background-color: var(--bg-secondary);
  color: var(--bg-primary);
}

.resume-overview .resume-info-right table td {
  color: var(--font-color-primary);
}

/* resume page hobbies */
.hobbies {
  margin-bottom: 30px;
  padding: 100px 50px;
}

.hobbies h2 {
  color: var(--backup-color);
  margin-bottom: 30px;
}

.hobbies .hobbies-col {
  display: flex;
  justify-content: space-evenly;
  gap: 80px;
}

.hobbies .hobbies-col .hobbies-col-left {
  color: var(--font-color-primary);
  font-size: 20px;
  line-height: 50px;
}

/* facts page */

.facts {
  color: var(--font-color-secondary);
  margin: 100px 0;
  font-size: 30px;
}

/* facts page sections */
.facts-page {
  padding: 0 50px;
  margin-bottom: 20px;
}

.facts-page h3 {
  color: var(--font-color-secondary);
  font-size: 30px;
  margin-bottom: 30px;
}
.facts-page h4 {
  font-size: 20px;
  color: var(--bg-secondary);
  margin-bottom: 20px;
}

.facts-page p {
  margin-bottom: 20px;
  font-size: 22px;
  color: var(--font-color-primary);
}

.facts-page a {
  margin-bottom: 20px;
  text-decoration: none;
  color: var(--bg-secondary);
  font-size: 24px;

  /* code to do a linear color transition */
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--bg-secondary),
    var(--bg-secondary) 50%,
    var(--font-color-secondary) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.3s ease;
}

/* linear color transition */
.facts-page a:hover {
  background-position: 0 100%;
}

/* book section */
.favorite-book .book-cols,
.favorite-audio .audio-cols {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 60px;
}

.favorite-book img {
  height: 400px;
}

/* audio section */
.favorite-audio .audio-cols .audio-right img {
  height: 300px;
  margin-bottom: 20px;
}

.favorite-audio .audio-cols .audio-right audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 300px;
  height: 25px;
}

/* video */
.videos .video-itself {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.videos .video-itself iframe {
  width: 1000px;
  height: 600px;
}

/* footer for all pages */

footer {
  margin-bottom: 50px;
}

hr {
  color: var(--font-color-secondary);
  width: 90%;
  /* auto to center in page */
  margin: auto;
  margin-bottom: 50px;
}

/* styling for footer */
.footer-columns {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.footer-columns .branding {
  width: 500px;
  flex-basis: 2;
}

.footer-columns h5 {
  color: var(--font-color-primary);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.footer-columns ul li {
  list-style: none;
}

.footer-columns ul li a {
  text-decoration: none;
  color: var(--backup-color);
  font-size: 18px;
  line-height: 30px;

  /* code to do a linear color transition */
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--backup-color),
    var(--backup-color) 50%,
    var(--font-color-secondary) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.3s ease;
}

/* linear color transition */
.footer-columns ul li:hover a {
  background-position: 0 100%;
}

/* styling for differing screen sizes*/

/* 1400 px */
@media screen and (max-width: 1400px) {
  .hero-columns {
    align-items: center;
  }

  .hero-columns .hero-right-column h1 {
    font-size: 24px;
  }

  .hero-columns .hero-right-column blockquote {
    font-size: 22px;
  }

  .hero-columns .hero-left-column img {
    width: 400px;
  }

  .resume {
    width: 150px;
  }

  .resume a {
    font-size: 18px;
  }

  .section-title {
    font-size: 24px;
  }

  .overview .overview-right img {
    height: 400px;
  }

  .overview .overview-left h4 {
    color: var(--font-color-primary);
    font-size: 20px;
  }

  .overview .overview-left a {
    font-size: 24px;
  }

  .resume-overview .resume-info-left i {
    color: var(--backup-color);
    font-size: 30px;
  }

  .resume-overview .resume-info-right table th,
  .resume-overview .resume-info-right table td {
    font-size: 16px;
  }

  .hobbies .hobbies-col .hobbies-col-left {
    font-size: 18px;
  }

  .facts {
    font-size: 30px;
  }

  .facts-page h3 {
    font-size: 24px;
  }

  .facts-page h4,
  p,
  a {
    font-size: 18px;
  }
}

/* 1100px */
@media screen and (max-width: 1100px) {
  .hero-columns .hero-right-column h1 {
    font-size: 22px;
  }

  .hero-columns .hero-right-column blockquote {
    font-size: 20px;
  }

  .hero-columns .hero-left-column img {
    width: 300px;
  }

  .resume {
    width: 150px;
  }

  .resume a {
    font-size: 16px;
  }

  .overview .overview-left h4 {
    font-size: 18px;
  }

  .footer-columns h5 {
    font-size: 24px;
  }

  .hobbies .hobbies-col .hobbies-col-left {
    font-size: 20px;
    line-height: 28px;
  }

  .facts-page p {
    font-size: 18px;
  }
}

/* 780 px */
@media screen and (max-width: 780px) {
  .hero {
    height: 800px;
    padding: 0;
    margin: 0;
  }

  .hero-columns {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }

  .hero-columns .hero-right-column {
    width: 100%;
    margin-left: 50px;
  }

  .hero-columns .hero-right-column blockquote {
    font-size: 14px;
  }

  .hero-columns .hero-left-column img {
    width: 500px;
    margin-top: 50px;
    margin-left: -125px;
  }

  .resume-overview {
    flex-direction: column;
  }

  .resume-overview .resume-info-left .skills ul {
    display: flex;
    justify-content: space-evenly;
  }

  .resume-overview .resume-info-left .skills ul li {
    font-size: 14px;
  }

  .overview .overview-left h4 {
    font-size: 14px;
    line-height: 20px;
  }

  .overview .overview-left a {
    font-size: 18px;
  }

  .resume-overview .resume-info-left {
    font-size: 20px;
  }

  .hobbies {
    margin-top: -100px;
  }

  .facts-page p {
    font-size: 14px;
  }

  .videos .video-itself iframe {
    width: 600px;
    height: 400px;
  }

  .hobbies .hobbies-col {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer-columns h5 {
    font-size: 18px;
  }

  .footer-columns a {
    font-size: 16px;
  }
}

/* 650 px */
@media screen and (max-width: 650px) {
  header h2 {
    font-size: 18px;
  }

  header .navigation ul li a {
    font-size: 16px;
  }

  .hero-columns .hero-right-column {
    width: 500px;
  }

  .hero-columns .hero-right-column h1 {
    font-size: 18px;
  }

  .hero-columns .hero-right-column blockquote {
    font-size: 14px;
  }

  .resume {
    width: 100px;
  }

  .resume a {
    font-size: 12px;
  }

  .section-title {
    margin-top: -100px;
    font-size: 20px;
  }

  .overview {
    flex-direction: column;
    margin-top: -500px;
  }

  .overview .overview-right img {
    visibility: hidden;
  }

  .overview .overview-left h4 {
    font-size: 14px;
    line-height: 30px;
  }

  .favorite-book img {
    height: 200px;
  }

  .favorite-book .book-cols,
  .favorite-audio .audio-cols {
    flex-direction: column;
  }

  .footer-columns h5 {
    font-size: 14px;
  }

  .footer-columns .branding {
    flex-basis: 0;
  }

  .resume-overview .resume-info-left i {
    font-size: 20px;
  }
}
