@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/* animation to fade page elements in on page load */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

* {
  /* supress browser defaults and select alt box model */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif, Tahoma;
  /* set variables for colors */
  --bg-primary: #111111;
  --bg-secondary: #7356b0;
  --font-color-primary: #f4f4f9;
  --font-color-secondary: #9ba4e7;
  --backup-color: #6d5eb8;

  animation: 1s ease-out 0s 1 fadeIn;
}

body {
  height: 100vh;
  background: var(--bg-primary);
}

/* style the header / navbar */
header {
  /* setting flex for the nav bar items */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px; /*might need change based on screen used to develop*/
  padding: 0 50px;
}

/* nav bar item logo */
header h2 {
  color: var(--font-color-primary);
  font-size: 30px;
  font-weight: 700;
}

/* container that holds nav bar and button so both can stay near eachother (preventing navbar from being directly in the top center */
.right-side-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
}

.right-side-header .navigation ul {
  /* flex to have items aligned in a row */
  display: flex;
  margin-right: 10px;
}

.right-side-header .navigation ul li {
  list-style: none;
}

.right-side-header .navigation ul li a {
  text-decoration: none;
  color: var(--font-color-secondary);
  font-size: 20px;
  margin-right: 25px;

  /* code to do a linear color transition */
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--font-color-primary),
    var(--font-color-primary) 50%,
    var(--font-color-secondary) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.3s ease;
}

/* linear color transition */
.right-side-header .navigation ul li:hover a {
  background-position: 0 100%;
}

.right-side-header .navigation ul li:last-child a {
  margin-right: 0;
}

/* divider between nav bar and button */
.right-side-header p {
  color: var(--font-color-primary);
  font-size: 25px;
  font-weight: 700;
  margin-right: 10px;
}

/* header bar button and footer button */
button {
  background: var(--backup-color);
  padding: 6px 16px;
  border: none;
  cursor: pointer;
  border-radius: 2px;

  /* code to do a linear color transition */
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--font-color-secondary),
    var(--font-color-secondary) 50%,
    var(--backup-color) 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.3s ease;
}

/* header bar button hover transition*/
button:hover {
  background-position: 0 100%;
  color: var(--bg-primary);
}

button a {
  color: var(--font-color-primary);
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* header bar button hover transition for the button text*/
button:hover a {
  color: var(--bg-primary);
}

/* styling for hero section (first page) */

.hero {
  height: 640px;
  margin-top: 200px;
}

/* setting the hero section into two columns. one for text the other for an image */
.hero-columns {
  height: 640 px;
  display: flex;
  justify-content: space-evenly;
}

.hero-columns .hero-right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hero-columns .hero-right-column h1 {
  font-size: 32px;
  font-weight: 600;
  color: var(--font-color-primary);
  margin-bottom: 35px;
}

/* color added to span to create altering colors inline */
.hero-columns .hero-right-column h1 span {
  color: var(--font-color-secondary);
  text-decoration: underline;
}

.hero-columns .hero-right-column blockquote {
  /* indent added for quote */
  padding-right: 20px;
  font-size: 24px;
  font-weight: 400;
  color: var(--font-color-primary);
  margin-left: 30px;
  margin-bottom: 35px;
}

.hero-columns .hero-right-column .resume {
  background: transparent;
  border: 1px solid var(--font-color-secondary);
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 2px;
  width: 200px;

  /* code to do a linear color transition */
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--bg-secondary),
    var(--bg-secondary) 50%,
    transparent 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  transition: all 0.3s ease;
}

/* transition for button */
.hero-columns .hero-right-column .resume:hover {
  background-position: 0 100%;
  border-color: var(--bg-secondary);
}

.hero-columns .hero-right-column .resume a {
  text-decoration: none;
  font-size: 24px;
  color: var(--font-color-secondary);
  transition: all 0.3s ease;
}

/* transition for text on button */
.hero-columns .hero-right-column .resume:hover a {
  color: var(--bg-primary);
}

.hero-columns .hero-left-column {
  width: 30%;
}

.hero-columns .hero-left-column img {
  height: 400px;
}

/* styling for overview section (first page) */

.section-title {
  margin: 10px 50px 30px;
  padding: 10px 10px;
  background: rgba(255, 255, 255, 0.08);
  display: inline-block;
  color: var(--font-color-secondary);
  border-radius: 2px;
  font-size: 30px;
}

.overview {
  padding: 0 100px;
  display: flex;
  gap: 80px;
  margin-bottom: 100px;
}

.overview .overview-right img {
  height: 500px;
}

.overview .overview-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overview .overview-left h4 {
  color: var(--font-color-primary);
  font-size: 22px;
}

.progress {
  width: 100%;
  max-width: 500px;
  background: white;
  border-radius: 2px;
  height: 15px;
}

.progress .progress-fill {
  height: 100%;
  width: 80%;
  background: var(--font-color-secondary);
}

.overview .overview-left a {
  color: var(--font-color-secondary);
  font-size: 30px;
  text-decoration: none;
  transition: padding 0.3s ease;
  display: inline;
}

/* slightly moves text on hover */
.overview .overview-left a:hover {
  padding-left: 50px;
}

footer {
  margin-bottom: 50px;
}

footer hr {
  color: var(--font-color-secondary);
  width: 90%;
  /* auto to center in page */
  margin: auto;
  margin-bottom: 50px;
}

/* styling for footer */
.footer-columns {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.footer-columns .branding {
  width: 500px;
  flex-basis: 2;
}

.footer-columns h5 {
  color: var(--font-color-primary);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.footer-columns ul li {
  list-style: none;
}

.footer-columns ul li a {
  text-decoration: none;
  color: var(--backup-color);
  font-size: 18px;
  line-height: 30px;

  /* code to do a linear color transition */
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    to right,
    var(--font-color-primary),
    var(--font-color-primary) 50%,
    var(--font-color-secondary) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 0.3s ease;
}

/* linear color transition */
.footer-columns ul li:hover a {
  background-position: 0 100%;
}
